
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5e8cf7;
    color: white;
    text-align: center;
    padding: 15px;
}

section {
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #5e8cf7;
    color: white;
}


ul {
    list-style-type: disc;
    margin-left: 20px;
}

img {
    max-width: 100%;
    margin-top: 10px;
}

.imagine-resurse img {
    width: 30%;
    margin: 5px;
}
